<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>로그인 화면</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <form action="/login_process" method="post">
            <h1>Login</h1>

            <div class="inputs">
              <div class="userName">
                <label>Username</label>
                <input type="text" name="name" value="kyoung-jnn">
              </div>
              <div class="password">
                <label>Password</label>
                <input type="password" name="pwd" value="1111">
              </div>
              <button type="submit" id="loginBtn">Login</button>
            </div>
            
            <div class="signUp">
                Don't have account? <a href="/register">Sign up</a>
            </div>
        </form>
    </div>

</body>
</html>
