<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>로그인 화면</title>
    <link rel="stylesheet" href="css/loginSuccess.css">
</head>
<body>
    <div class="container">
        <form action="/logout_process" method="post">
            <h1>Success</h1>
            <div class="inputs">
              <div class="userName">
                <label>Username</label>
                
              </div>
              
              <button type="submit" id="logoutBtn">Logout</button>
            </div>
        
        </form>
    </div>

</body>
</html>
